[data-bs-theme=dark] {
    .card {
        background-color: rgb(41, 41, 41) !important;
    }

    h4 {
        color: rgb(204, 204, 204);
    }


    .form-label {
        color: rgb(198, 198, 198);
    }
    .col-form-label {
        color: rgb(198, 198, 198);
    }

    .breadcrumb-item.active {
        color: rgb(190, 190, 190);
    }

    .table-light {
        --bs-table-color: #fff;
        --bs-table-bg: #3b3b3b;
        --bs-table-border-color: rgb(34.5, 58.8, 83.1);
        --bs-table-striped-bg: rgb(22.25, 47.9, 73.55);
        --bs-table-striped-color: #fff;
        --bs-table-active-bg: rgb(34.5, 58.8, 83.1);
        --bs-table-active-color: #fff;
        --bs-table-hover-bg: rgb(28.375, 53.35, 78.325);
        --bs-table-hover-color: #fff;
        color: var(--bs-table-color);
        border-color: var(--bs-table-border-color);
    }

    tbody {
        --bs-table-color: #d3d3d3;
        --bs-table-bg: #252525;
        --bs-table-border-color: rgb(74, 74, 74);
        --bs-table-striped-bg: rgb(46, 46, 46);
        --bs-table-striped-color: #000;
        --bs-table-active-bg: rgb(103, 103, 103);
        --bs-table-active-color: #000;
        --bs-table-hover-bg: rgb(68, 68, 68);
        --bs-table-hover-color: #ffffff;
        color: white;
        border-color: var(--bs-table-border-color);
    }

    .body-wrapper-inner {
        background-color: rgb(21, 21, 21);
    }

    .app-header {
        background-color: #21252A;
    }

    aside.left-sidebar {
        background: linear-gradient(269.48deg,
                rgb(0, 0, 0) 0%,
                rgb(59, 58, 76) 100%);

    }

    .sidebar-link {
        color: rgb(225, 225, 225);
    }

    .sidebar-link:hover:not(.active) {
        color: #aaaaaa !important;
    }

    .with-bullets li a {
        color: rgb(179, 179, 179);
    }

    .with-bullets li a:hover:not(.active) {
        color: rgb(143, 143, 143) !important;
    }

    .nav-item a.active {
        font-weight: 800;
        color: rgb(255, 255, 255)
    }

    .form-select {
        background-color: #252525;
        color: #fff;
    }

    .form-control {
        color: #fff;
    }

    small {
        color: #dedede;
    }

    .bg-light {
        background-color: rgb(71, 71, 71) !important;
    }

    .text-dark {
        color: #d3d3d3 !important;
    }

    input::placeholder {
        color: rgb(134, 134, 134) !important;
        /* Ganti dengan warna yang Anda inginkan */
        opacity: 1;
        /* Mengatur seberapa transparan placeholder (1 = 100% terlihat) */
    }

    select, input, textarea {
        background-color: rgb(69, 69, 69) !important;
        border: none
    }
    
    .select2-container--bootstrap-5 .select2-selection {
        background-color: rgb(69, 69, 69) !important;
        color: white !important;
    }

    .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
        color: white !important;
    }

    .card-list {
        border-width: 1px !important;
        border-color: rgb(83, 83, 83);
    }
}

[data-bs-theme=light] {

    .table-dark {
        --bs-table-bg: #f0b2a100;
    }

}